# Only for Docker Deployment

BOT_TOKEN=5136773381:AAHlx6XaF-a8EhDZYZOt3z-FMoDouZ-Sqy4

API_ID=9494782

API_HASH=e230605885ef3b6751fc045f521fab7a

SESSION_STRING=1BVtsOJYBu51J-HHYp2U6z6OMRuqRBPwwZlnn_jN8kxbI9CHURvdvF6U9r4yhd7efdvJ-Nms7HWC_ZmLmlpRrcU_Gx1IXreBWjg8u57yhovjtp-kMl9jF7Nrzyl9BEy77dYehg0xU4k9dyEAeOji-Pyrkg3-Tadd_JrlxH21Fo7sHqMEL4QSepjyjOn5d8xe5HK09MgUk3MiWzcO96QVUgqvGWJ0eksDuXY1lDP6z6ysOsxiXXLE-RfpTCwsx0HbhNkfPSSoM5J0b2tcGdQ11weKfU1kSk_O9Z9j1nYZI83Dbyqw6ddMrCrpxc-hYfMQKdbQcYCJ8cT7If7BHUHzzf1rJT2JOVbc= # Check Readme to generate sessions

USERBOT_PREFIX=userbot_prefix

SUDO_USERS_ID=697601524 # Sudo users have full access to everythin, don't trust anyone

LOG_GROUP_ID=-1001731004848

GBAN_LOG_GROUP_ID=-1001731004848

MESSAGE_DUMP_CHAT=-1001731004848

WELCOME_DELAY_KICK_SEC=300 # Edit if u want

MONGO_URL=mongodb+srv://leslardao:we221014@leslardao.5jhqe.mongodb.net/myFirstDatabase?retryWrites=true&w=majority

ARQ_API_URL=https://arq.hamker.in # Leave it like this

ARQ_API_KEY=ZDMPCG-JMYSPQ-NFTPKJ-CNJPWQ-ARQ # Get it from @ARQRobot

LOG_MENTIONS=0 # Make it 1 if you want to enable it

RSS_DELAY=300 # In seconds

PM_PERMIT=1 # fill 0 to disable it
